@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RlBasisGrotesque';
    src: url('../public/fonts/basis_grotesque_regular__20200707.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'RlBasisGrotesque';
    src: url('../public/fonts/basis_grotesque_black__20200707.woff2') format('woff2');
    font-weight: 900;
}

@font-face {
    font-family: 'RlBasisGrotesque';
    src: url('../public/fonts/basis_grotesque_medium__20200707.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'RlBasisGrotesque';
    src: url('../public/fonts/basis_grotesque_bold__20200707.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'RlFreight';
    src: url('../public/fonts/freight.woff2') format('woff2');
    font-weight: 900;
}

html, body {
    font-family: RlBasisGrotesque;
}

.nice-dates-navigation, .nice-dates-day {
    color: red !important;
}

.nice-dates-popover {
    /* width: 200px !important; */
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    max-width: 480px;
    transition: none;
}
.nice-dates-day {
    width: calc(100% / 14) !important;
    height: 30px !important;
}

.nice-dates-grid {
    height: auto !important;
}